@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* { 	
	margin:0;
	padding:0;
	font-family:"Fira Code";

	font-size:1.5rem

}
body{
	display:flex;
	flex-flow: column  nowrap;
	justify-content:center;
	align-content:center;
	align-items:center;
	gap:40px;
	background-color:#434c5e;
	color:#8fbcbb;
}
main{
	height:100%;
	width:100%;
	display:flex;
	flex-flow: column wrap;
	justify-content:center;
	align-items:center;

}
header{
	display:flex;
	flex-flow:column wrap;
	justify-content:center;
	align-items:center;
	
}
section{	
	background-color:#2e3440;
	border-radius:20px;
	margin:0rem;
	padding:20px;
	width:50%;
	height:100%;
	display:flex;
	flex-flow:column nowrap;
	justify-content:space-between;
	align-items:start;
	align-content:center;
	gap:5px;
	}
img{
	width:20rem;
	border:10px solid #2e3440;
	border-radius: 500px;
}
a{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-items:center;
	background-color: #3b4252;
	border-radius: 10px;
	width:60%;
	height:100%;
	color:#8fbcbb;
}
#links{
	display:flex;
	flex-flow: row wrap;
	gap:10px;
	justify-content:start;
	align-items:center;
}
p{
}
